* The CSS shown here will not be introduced in the Quickstart guide,
but shows * how you can use CSS to style your Element's container.
 */ .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#loading {
    position: fixed;
    /* Make the div fixed so it stays in place */
    /* top: 0;Set the top position to 0 */
    /*left: 0; Set the left position to 0 */
    width: 100%;
    /* Set the width to 100% */
    height: 100%;
    /* Set the height to 100% */
    background-color: rgba(255, 255, 255, 0.5);
    /* Set the background color to semi-transparent white */
    z-index: 9999;
    /* Set the z-index to a high number to ensure it displays on top of other elements */
    /* Use flexbox to center the spinner vertically and horizontally */
    justify-content: center;
    align-items: center;
}

#loading img {
    width: 200px;
    /* Set the width of the spinner image */
    height: 200px;
    /* Set the height of the spinner image */
    display: block;
    /* Set the display property to block to center the image horizontally */
    margin: auto;
    /* Set the margin to auto to center the image horizontally */
}
